/* GIFTS FIRST SHELF */
#gift-1-1 {
    background-image: url(images/brown-gift.png);
}

#gift-1-2 {
    background-image: url(images/lightblue-gift.png);
}

#gift-1-3 {
    background-image: url(images/purple-gift.png);
}

#gift-1-4 {
    background-image: url(images/brown-gift.png);
}

#gift-1-5 {
    background-image: url(images/neongreen-gift.png);
}

#gift-1-6 {
    background-image: url(images/orange-gift.png);
}

#gift-1-7 {
    background-image: url(images/lightblue-gift.png);
}

#gift-1-8 {
    background-image: url(images/black-gift.png);
}

/* GIFTS SECOND SHELF */
#gift-2-1 {
    background-image: url(images/orange-gift.png);
}

#gift-2-2 {
    background-image: url(images/purple-gift.png);
}

#gift-2-3 {
    background-image: url(images/brown-gift.png);
}

#gift-2-4 {
    background-image: url(images/green-gift.png);
}

#gift-2-5 {
    background-image: url(images/lightblue-gift.png);
}

#gift-2-6 {
    background-image: url(images/purple-gift.png);
}

#gift-2-7 {
    background-image: url(images/neongreen-gift.png);
}

#gift-2-8 {
    background-image: url(images/orange-gift.png);
}

/* GIFTS THIRD SHELF */
#gift-3-1 {
    background-image: url(images/neongreen-gift.png);
}

#gift-3-2 {
    background-image: url(images/lightblue-gift.png);
}

#gift-3-3 {
    background-image: url(images/purple-gift.png);
}

#gift-3-4 {
    background-image: url(images/orange-gift.png);
}

#gift-3-5 {
    background-image: url(images/brown-gift.png);
}

#gift-3-6 {
    background-image: url(images/lightblue-gift.png);
}

#gift-3-7 {
    background-image: url(images/purple-gift.png);
}

#gift-3-8 {
    background-image: url(images/neongreen-gift.png);
}

/* GIFTS FOURTH SHELF */
#gift-4-1 {
    background-image: url(images/lightblue-gift.png);
}

#gift-4-2 {
    background-image: url(images/brown-gift.png);
}

#gift-4-3 {
    background-image: url(images/red-gift.png);
}

#gift-4-4 {
    background-image: url(images/neongreen-gift.png);
}

#gift-4-5 {
    background-image: url(images/purple-gift.png);
}

#gift-4-6 {
    background-image: url(images/blue-gift.png);
}

#gift-4-7 {
    background-image: url(images/orange-gift.png);
}

#gift-4-8 {
    background-image: url(images/purple-gift.png);
}

/* GIFTS THIRD SHELF */
#gift-5-1 {
    background-image: url(images/neongreen-gift.png);
}

#gift-5-2 {
    background-image: url(images/yellow-gift.png);
}

#gift-5-3 {
    background-image: url(images/orange-gift.png);
}

#gift-5-4 {
    background-image: url(images/brown-gift.png);
}

#gift-5-5 {
    background-image: url(images/lightblue-gift.png);
}

#gift-5-6 {
    background-image: url(images/neongreen-gift.png);
}

#gift-5-7 {
    background-image: url(images/purple-gift.png);
}

#gift-5-8 {
    background-image: url(images/brown-gift.png);
}